page-alojamiento {

    .titulo{
        margin-left: 2%; 
    }
    .suma{
        border: solid red 1px;
    }

    .titulo1{
        margin-left: 2%; 
        font-size: 15px;
        color: red;

    }

    ion-input.ng-dirty.ng-invalid {
        background-color: red
      }
      
      ion-input.ng-touched.ng-invalid{
        background-color: red
      }
    .scroll {
        width: 100%;
        height: 100%;
        overflow:auto;
   }
   .top {
    margin-top: 7%;
}

}
