<div #container class="scroll"> 
    <ion-header>
      <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Transporte especial</ion-title>
      </ion-navbar>
    </ion-header>



     
    <ion-list class="top">
        <ion-label class="titulo">  </ion-label> 
        <ion-label class="titulo">  </ion-label>
        <ion-label class="titulo">  </ion-label> 
        <ion-label class="titulo">  </ion-label> 
        <ion-label class="titulo">  </ion-label> 
        <ion-label class="titulo">  </ion-label> 
        <ion-label class="titulo"> Parte A. Datos del establecimiento </ion-label> 
    

    <ion-item>
            <ion-label>
                Fecha elaboración de la encuesta:
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="calendar" item-start></ion-icon>
            <ion-input name="dateStart" [(ngModel)]="dateStart" type="text" placeholder="Fecha elaboración de la encuenta" disabled class="no_border"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>
                Encuestador:
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="person" item-start></ion-icon>
            <ion-input type="text" placeholder="Nombre" disabled class="no_border" name="A0" [(ngModel)]="transporte.A0"></ion-input>
        </ion-item>   
    <ion-item>
      <ion-label floating>Nombre del establecimiento: </ion-label>
      <ion-input [(ngModel)]="transporte.name" class="requiredSelect"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked class="titulo"> Año de fundación: </ion-label>
        <ion-datetime [(ngModel)]="transporte.date_year"  displayFormat="YYYY" class="requiredSelect"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label stacked class="titulo"> Municipio </ion-label>
        <ion-select [(ngModel)]="transporte.municipality_id" placeholder="Seleccionar" >
            <ion-option value="781">ÁBREGO</ion-option>
            <ion-option value="782">ARBOLEDAS</ion-option>
            <ion-option value="783">BOCHALEMA</ion-option>
            <ion-option value="784">BUCARASICA</ion-option>
            <ion-option value="786">CÁCHIRA</ion-option>
            <ion-option value="785">CÁCOTA</ion-option>
            <ion-option value="787">CHINÁCOTA</ion-option>
            <ion-option value="788">CHITAGÁ</ion-option>
            <ion-option value="789">CONVENCIÓN</ion-option>
            <ion-option value="780">CÚCUTA</ion-option>
            <ion-option value="790">CUCUTILLA</ion-option>
            <ion-option value="791">DURANIA</ion-option>
            <ion-option value="792">EL CARMEN</ion-option>
            <ion-option value="793">EL TARRA</ion-option>
            <ion-option value="794">EL ZULIA</ion-option>
            <ion-option value="795">GRAMALOTE</ion-option>
            <ion-option value="796">HACARÍ</ion-option>
            <ion-option value="797">HERRÁN</ion-option>
            <ion-option value="799">LA ESPERANZA</ion-option>
            <ion-option value="800">LA PLAYA</ion-option>
            <ion-option value="798">LABATECA</ion-option>
            <ion-option value="801">LOS PATIOS</ion-option>
            <ion-option value="802">LOURDES</ion-option>
            <ion-option value="803">MUTISCUA</ion-option>
            <ion-option value="804">OCAÑA</ion-option>
            <ion-option value="805">PAMPLONA</ion-option>
            <ion-option value="806">PAMPLONITA</ion-option>
            <ion-option value="807">PUERTO SANTANDER</ion-option>
            <ion-option value="808">RAGONVALIA</ion-option>
            <ion-option value="809">SALAZAR</ion-option>
            <ion-option value="810">SAN CALIXTO</ion-option>
            <ion-option value="811">SAN CAYETANO</ion-option>
            <ion-option value="812">SANTIAGO</ion-option>
            <ion-option value="813">SARDINATA</ion-option>
            <ion-option value="814">SILOS</ion-option>
            <ion-option value="815">TEORAMA</ion-option>
            <ion-option value="816">TIBÚ</ion-option>
            <ion-option value="817">TOLEDO</ion-option>
            <ion-option value="818">VILLA CARO</ion-option>
            <ion-option value="819">VILLA DEL ROSARIO</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label floating>Dirección </ion-label>
        <ion-input [(ngModel)]="transporte.address" class="requiredSelect"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Nombre del contacto </ion-label>
        <ion-input [(ngModel)]="transporte.contact"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked class="titulo"> Cargo</ion-label>
        <ion-select [(ngModel)]="transporte.position_id"  placeholder="Seleccionar" >
            <ion-option value="9253">Abogado</ion-option>
            <ion-option value="3413">Agente de viajes</ion-option>
            <ion-option value="7211">Albañiles, mamposteros y afines</ion-option>
            <ion-option value="9221">Aseador</ion-option>
            <ion-option value="3431">Asistente de servicios administrativos </ion-option>
            <ion-option value="3475">Atletas, deportistas y afines</ion-option>
            <ion-option value="4123">Auxiliar administrativo </ion-option>
            <ion-option value="4121">Auxiliar de contabilidad </ion-option>
            <ion-option value="4211">Cajero</ion-option>
            <ion-option value="5125">Camarera(o)</ion-option>
            <ion-option value="5124">Capitán de meseros-Hostess</ion-option>
            <ion-option value="5123">Chef</ion-option>
            <ion-option value="5121">Cocinero</ion-option>
            <ion-option value="8321">Conductores de camionetas y vehículos livianos</ion-option>
            <ion-option value="2411">Contador</ion-option>
            <ion-option value="1412">Coordinador de ventas y/o comercialización</ion-option>
            <ion-option value="1414">Coordinadores y supervisores de almacenamiento, abastecimiento y distribución</ion-option>
            <ion-option value="1411">Coordinadores y supervisores financieros y administrativos</ion-option>
            <ion-option value="1315">Director de operación</ion-option>
            <ion-option value="1322">Director de talento humano </ion-option>
            <ion-option value="1323">Director de ventas y/o comercialización</ion-option>
            <ion-option value="1321">Director financiero y/o administrativo</ion-option>
            <ion-option value="1211">Director o Gerente general</ion-option>
            <ion-option value="1212">Director regional, sucursal, oficina</ion-option>
            <ion-option value="9254">Diseñador y Publicista</ion-option>
            <ion-option value="4132">Encargados de servicios de apoyo a la producción</ion-option>
            <ion-option value="4131">Encargados del control de abastecimiento e inventario</ion-option>
            <ion-option value="3131">Fotógrafos y operadores de equipos de grabación de imagen y sonido</ion-option>
            <ion-option value="5113">Guía</ion-option>
            <ion-option value="9222">Lavanderos y planchadores</ion-option>
            <ion-option value="9255">Medicos y afines</ion-option>
            <ion-option value="9131">Mensajeros, porteadores y repartidores</ion-option>
            <ion-option value="5122">Mesero-Barman </ion-option>
            <ion-option value="9132">Porteros, conserjes y afines</ion-option>
            <ion-option value="4222">Recepcionista, empleado de información y servicio al cliente</ion-option>
            <ion-option value="3414">Representante comercial- técnico de ventas</ion-option>
            <ion-option value="9256">Revisor Fiscal</ion-option>
            <ion-option value="4113">Secretaria(o)</ion-option>
            <ion-option value="1426">Supervisor de operaciones</ion-option>
            <ion-option value="1428">Supervisor de operaciones de limpieza y servicios similares</ion-option>
            <ion-option value="3122">Técnico en programación informática</ion-option>
            <ion-option value="9133">Vigilantes y celadores</ion-option>
            <ion-option value="40">Otro</ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="transporte.position_id == '40'">
        <ion-label floating>Que Cargo </ion-label>
        <ion-input [(ngModel)]="transporte.other_position" ></ion-input>
    </ion-item>
    <ion-item >
        <ion-label class="titulo" stacked>Telefono</ion-label>
        <ion-input [(ngModel)]="transporte.phone_number" class="requiredInput" type="number" max="5" placeholder="" class="requiredSelect" (ionChange)="telefono(7)" ></ion-input>
    </ion-item>
    <ion-item *ngIf="telefono_v">
        <ion-label class="titulo" style="color: #31708f;background-color: #d9edf7; border-color: #bce8f1;">El numero no es valido</ion-label>
      </ion-item>
    <ion-item >
        <ion-label class="titulo" stacked>Ext.</ion-label>
        <ion-input  [(ngModel)]="transporte.phone_ext"   type="number" max="5" placeholder="" ></ion-input>
    </ion-item>
    <ion-item >
        <ion-label class="titulo" stacked>Celular</ion-label>
        <ion-input [(ngModel)]="transporte.cell_phone" class="requiredInput" type="number" max="5" placeholder="" (ionChange)="celular(10)"></ion-input>
    </ion-item>
    <ion-item  *ngIf="celular_v">
        <ion-label class="titulo" style="color: #31708f;background-color: #d9edf7; border-color: #bce8f1;">El numero no es valido</ion-label>
      </ion-item>
    
    <ion-item >
        <ion-label class="titulo" stacked>E-mail</ion-label>
        <ion-input [(ngModel)]="transporte.email" class="requiredInput" type="email"  placeholder="" ngModel email="true"></ion-input>
    </ion-item>
    <ion-label class="titulo"> Parte B. Actividad comercial </ion-label> 
    <ion-item>
            <ion-label>
                Las preguntas que a continuación le voy a formular están relacionadas con la actividad del servicio y la capacidad de atención durante el mes de Junio.
            </ion-label>
        </ion-item>

    <ion-label>
        ¿En el mes de Junio el establecimiento estuvo en actividad comercial?
    </ion-label>

    <ion-list radio-group [(ngModel)]="transporte.comercial_activity">
       
        <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio  value="si"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>No</ion-label>
            <ion-radio  value="no"></ion-radio>
        </ion-item>
    </ion-list>
    <ion-label>
            
    </ion-label>
        <ion-item *ngIf="transporte.comercial_activity == 'si'">
            <ion-label class="titulo" stacked>¿Cuántos días en el mes?</ion-label>
             <ion-input [(ngModel)]="transporte.count_comercial_activity" class="requiredInput" type="number" max="5" placeholder="" class="requiredSelect"></ion-input>
        </ion-item>
        <ion-label class="titulo" *ngIf="transporte.comercial_activity == 'si'">Parte C. Servicio de transporte especial </ion-label> 
        <ion-label *ngIf="transporte.comercial_activity == 'si'">
            El objetivo de conocer la oferta es comunicar en el Sistema de Información turística de Norte de Santander a todos los interesados en viajar por el departamento la capacidad del servicio de transporte especial y calcular una tarifa promedio que sirva de referencia para que los viajeros planeen su viaje por Norte de Santander.
        </ion-label>
        <ion-item *ngIf="transporte.comercial_activity == 'si'" >
            <ion-label class="titulo" stacked>¿Cuántos vehículos estuvieron disponibles para el servicio de transporte de pasajeros en el mes de Junio?</ion-label>
            <ion-input [(ngModel)]="transporte.count_vehicles" class="requiredInput" type="number" max="5" placeholder="" class="requiredSelect"></ion-input>
        </ion-item>
        <ion-item  *ngIf="transporte.comercial_activity == 'si'">
            <ion-label class="titulo" stacked>¿Cuál fue la capacidad para transportar pasajeros en el mes de Junio?</ion-label>
            <ion-input [(ngModel)]="transporte.capacity_transport" class="requiredInput" type="number" max="5" placeholder="" class="requiredSelect"></ion-input>
        </ion-item>
        <ion-item *ngIf="transporte.comercial_activity == 'si'" >
            <ion-label class="titulo" stacked>¿Cuál fue la tarifa promedio ($) del servicio del transporte en el mes de Junio?</ion-label>
            <ion-input [(ngModel)]="transporte.transport_fee" class="requiredInput" type="number" max="5" placeholder="" class="requiredSelect"></ion-input>
        </ion-item>
        <ion-item *ngIf="transporte.comercial_activity == 'si'">
            <ion-label class="titulo" stacked>¿Cuántos pasajeros movilizó en el mes de Junio?</ion-label>
            <ion-input [(ngModel)]="transporte.mobilized_people" class="requiredInput" type="number" max="5" placeholder="" class="requiredSelect"></ion-input>
        </ion-item>
   


    </ion-list>
        <div text-center>
            <button (click)="save()" ion-button color="primary">Guardar</button>      
        </div>
    </div>