page-welcome {
    width: 100%;
    position: relative;
    .scroll-content {
        padding: 0;
    }
    .TitleWelcome {
        width: 100%;
        font-size: 30px;
        position: absolute;
        top: 20vh;
        color: #fff;
        transform: translateX(-16px);
        opacity: 0;
        animation-name: welcome;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
}

@keyframes welcome {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
