<!--
  Generated template for the AlimentacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Encuesta Alimentación</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="alimentacion" (ngSubmit)="logForm()">
      <ion-item>
          <ion-icon name="person" item-start></ion-icon>
          <ion-input formControlName="nombre" type="text" placeholder="Nombre" disabled class="no_border"></ion-input>
      </ion-item>
      <ion-item>
         <ion-note item-start>
            La información suministrada es clave para el diseño de los planes de desarrollo para la industria turística del departamento y la inversión pública y privada.
         </ion-note>
      </ion-item>
      <ion-item>
        <ion-label floating> Prestador</ion-label>
    </ion-item>
      <ion-item>
           <ion-select formControlName="prestador" placeholder="Seleccionar">
               <ion-label> Prestador </ion-label>
               <ion-option value="agencia">Agencia de viajes y turismo AVIATUR</ion-option>
               <ion-option value="falta">Aviatur Villanueva</ion-option>
           </ion-select>
       </ion-item>
       <ion-item>
          <ion-label class="titulo"> Parte A. Datos del establecimiento </ion-label>
      </ion-item>
      <ion-item>
        <ion-label floating> Tipo de establecimiento</ion-label>
    </ion-item>
      <ion-item>
        <ion-select formControlName="tipo_establecimiento" placeholder="Seleccionar" multiple="true">
            <ion-label> Tipo de establecimiento </ion-label>
            <ion-option value="microbus">Microbus</ion-option>
            <ion-option value="escalera">Escalera</ion-option>
            <ion-option value="camioneta">Camioneta</ion-option>
            <ion-option value="buseta">Buseta</ion-option>
            <ion-option value="bus">Bus</ion-option>
            <ion-option value="automovil">Automóvil</ion-option>
            <ion-option value="otro">Otro</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label floating> Especialidad del establecimiento </ion-label>
    </ion-item>
    <ion-item>
        <ion-select formControlName="especialidad_establecimiento" placeholder="Seleccionar" multiple="true">
            <ion-label> Especialidad del establecimiento </ion-label>
            <ion-option value="microbus">Microbus</ion-option>
            <ion-option value="escalera">Escalera</ion-option>
            <ion-option value="camioneta">Camioneta</ion-option>
            <ion-option value="buseta">Buseta</ion-option>
            <ion-option value="bus">Bus</ion-option>
            <ion-option value="automovil">Automóvil</ion-option>
            <ion-option value="otro">Otro</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label floating> Año de fundación </ion-label>
    </ion-item>
    <ion-item>
        <ion-select formControlName="ano_fundacion" placeholder="Seleccionar" multiple="true">
            <ion-label> Año de fundación </ion-label>
            <ion-option value="microbus">Microbus</ion-option>
            <ion-option value="escalera">Escalera</ion-option>
            <ion-option value="camioneta">Camioneta</ion-option>
            <ion-option value="buseta">Buseta</ion-option>
            <ion-option value="bus">Bus</ion-option>
            <ion-option value="automovil">Automóvil</ion-option>
            <ion-option value="otro">Otro</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
         <ion-note item-start>
            El objetivo de conocer la oferta es comunicar en el Sistema de Información Turística de {{mainNameApp}} a todos los interesados en organizar eventos en {{mainNameApp}} y viajar a {{mainNameApp}} la capacidad de atención de los restaurantes actualizada mes a mes.
         </ion-note>
      </ion-item>
    <ion-list radio-group formControlName="platos">
        <ion-item>
            <ion-label>
               ¿En el restaurante se sirven principalmente platos de comida o unidades de comida
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Platos de comida</ion-label>
            <ion-radio value="si"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Unidades de comida</ion-label>
            <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-list>
     <ion-item>
         <ion-label floating> Número de mesas disponibles: </ion-label>
         <ion-input type="number" formControlName="mesas_disponibles"></ion-input>
      </ion-item>
      <ion-item>
         <ion-label floating> Número de asientos disponibles: </ion-label>
         <ion-input type="number" formControlName="asientos_disponibles"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label class="titulo"> Parte B. Actividad comercial </ion-label>
      </ion-item>
      <ion-item>
         <ion-note item-start>
            El objetivo de conocer la actividad comercial por mes es para establecer la disponibilidad del servicio de alimentos en un momento dado.
         </ion-note>
      </ion-item>
      <ion-list radio-group formControlName="actividad_comercial">
        <ion-item>
            <ion-label>
               ¿En el mes de Diciembre el establecimiento estuvo en actividad comercial?
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Platos de comida</ion-label>
            <ion-radio value="si"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Unidades de comida</ion-label>
            <ion-radio value="no"></ion-radio>
        </ion-item>
        <ion-item *ngIf="alimentacion.value.actividad_comercial !== ''">
             <ion-label floating> ¿Cuántos días en el mes? </ion-label>
            <ion-input formControlName="dias_mes" type="text"></ion-input>
        </ion-item>
      </ion-list>
      <ion-item>
          <ion-label class="titulo"> Parte C. Capacidad del establecimiento </ion-label>
      </ion-item>
      <ion-item>
         <ion-note item-start>
            El objetivo de conocer la oferta es comunicar en el Sistema de Información Turística de {{mainNameApp}} a todos los interesados en organizar eventos en {{mainNameApp}} y viajar a {{mainNameApp}}, la capacidad de atención de los restaurantes actualizada mes a mes y calcular una tarifa promedio que sirva de referencia para que los viajeros planeen su viaje a {{mainNameApp}}.
         </ion-note>
      </ion-item>

      <ion-item *ngIf="alimentacion.value.platos !== ''">
           <ion-label floating> ¿Cuántas unidades de comida máximo se hubieran podido servir en promedio diariamente con el personal con el que contó en el mes de Diciembre? </ion-label>
          <ion-input formControlName="unidades_max" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="alimentacion.value.platos !== ''">
           <ion-label floating> ¿Cuántas unidades de comida se sirvieron en el mes de Diciembre? </ion-label>
          <ion-input formControlName="unidades_diciembre" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="alimentacion.value.platos !== ''">
           <ion-label floating> ¿Cuánto vale la comida que más se vendió en el mes de Diciembre?($) </ion-label>
          <ion-input formControlName="valor_diciembre" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="alimentacion.value.platos !== ''">
           <ion-label floating> ¿Cuántos vinos se vendieron efectivamente? </ion-label>
          <ion-input formControlName="vinos_vendidos" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="alimentacion.value.platos !== ''">
           <ion-label floating> ¿Cuántos postres se vendieron efectivamente? </ion-label>
          <ion-input formControlName="postres_vendidos" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label class="titulo"> Parte D. Atención a visitantes no residentes en {{mainNameApp}} </ion-label>
      </ion-item>
      <ion-item>
         <ion-note item-start>
            La siguiente pregunta permite realizar una aproximación al número de clientes que son visitantes no residentes en {{mainNameApp}} que son atendidos en los establecimientos comerciales.
         </ion-note>
      </ion-item>
      <ion-item>
          <ion-label>¿Qué porcentaje de sus clientes del mes de Diciembre considera son de otras regiones fuera de {{mainNameApp}}?</ion-label>
          <ion-input type="number" formControlName="cientes_porcentaje"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label class="titulo"> Parte E. Horario de atención </ion-label>
      </ion-item>
      <ion-item>
         <ion-note item-start>
            ¿Cuál es el horario al público?
         </ion-note>
      </ion-item>
      <ion-list>
        <ion-item>
           <ion-select placeholder="Apertura" formControlName="lunes_apertura">
              <ion-label>Apertura</ion-label>
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
           </ion-select>
           <ion-select placeholder="Cierre" formControlName="lunes_cierre">
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
           </ion-select>
        </ion-item>
      </ion-list>
            <ion-list>
        <ion-item>
          <ion-label> Martes</ion-label>
        </ion-item>
        <ion-item>
           <ion-select placeholder="Apertura" formControlName="martes_apertura">
              <ion-label>Apertura</ion-label>
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
           </ion-select>
           <ion-select placeholder="Cierre" formControlName="martes_cierre">
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
           </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label> Miercoles</ion-label>
        </ion-item>
        <ion-item>
           <ion-select placeholder="Apertura" formControlName="miercoles_apertura">
              <ion-label>Apertura</ion-label>
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
           </ion-select>
           <ion-select placeholder="Cierre" formControlName="miercoles_cierre">
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
           </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label> Jueves</ion-label>
        </ion-item>
        <ion-item>
           <ion-select placeholder="Apertura" formControlName="jueves_apertura">
              <ion-label>Apertura</ion-label>
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
           </ion-select>
           <ion-select placeholder="Cierre" formControlName="jueves_cierre">
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
           </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label> Viernes </ion-label>
        </ion-item>
        <ion-item>
           <ion-select placeholder="Apertura" formControlName="viernes_apertura">
              <ion-label>Apertura</ion-label>
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
           </ion-select>
           <ion-select placeholder="Cierre" formControlName="viernes_cierre">
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
           </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label> Sabado</ion-label>
        </ion-item>
        <ion-item>
           <ion-select placeholder="Apertura" formControlName="sabado_apertura">
              <ion-label>Apertura</ion-label>
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
           </ion-select>
           <ion-select placeholder="Cierre" formControlName="sabado_cierre">
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
           </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label> Domingo </ion-label>
        </ion-item>
        <ion-item>
           <ion-select placeholder="Apertura" formControlName="domingo_apertura">
              <ion-label>Apertura</ion-label>
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
           </ion-select>
           <ion-select placeholder="Cierre" formControlName="domingo_cierre">
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
           </ion-select>
        </ion-item>
      </ion-list>
      <ion-item>
          <ion-label class="titulo"> Parte F. Servicios complementarios </ion-label>
      </ion-item>
      <ion-item>
         <ion-note item-start>
            ¿Cuáles servicios complementarios ofrece el restaurante?
         </ion-note>
      </ion-item>
      <ion-list radio-group formControlName="area_recepcion">
        <ion-item>
            <ion-label>
                Área de recepción donde se brinde información telefónica acerca de horarios, inquietudes de cliente y reservaciones
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio value="si"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-list radio-group formControlName="banos_independientes">
        <ion-item>
            <ion-label>
                Baños independientes para hombre y mujer
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio value="si"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-list radio-group formControlName="auditorio_eventos">
        <ion-item>
            <ion-label>
                Auditorio para eventos
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio value="si"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-list radio-group formControlName="servicio_eventos">
        <ion-item>
            <ion-label>
                Servicio de atención a eventos
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio value="si"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-list radio-group formControlName="zona_juegos">
        <ion-item>
            <ion-label>
                Zona de juegos o entretenimiento
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio value="si"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-list radio-group formControlName="servicio_domicilio">
        <ion-item>
            <ion-label>
                Servicio a domicilio
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio value="si"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-list radio-group formControlName="parqueadero_propio">
        <ion-item>
            <ion-label>
                Parqueadero propio
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio value="si"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-list radio-group formControlName="postres">
        <ion-item>
            <ion-label>
                Carta de postres y/o helados
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio value="si"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-list radio-group formControlName="vinos">
        <ion-item>
            <ion-label>
                Carta de vinos
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio value="si"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-list radio-group formControlName="licores">
        <ion-item>
            <ion-label>
                Carta de licores
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio value="si"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-list radio-group formControlName="cafeteria">
        <ion-item>
            <ion-label>
                Carta de cafetería
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio value="si"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-list radio-group formControlName="menu_dia">
        <ion-item>
            <ion-label>
                Menú del día
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio value="si"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-list radio-group formControlName="otro">
        <ion-item>
            <ion-label>
                Menú del día
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio value="si"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-item *ngIf="alimentacion.value.otro == 'si'">
           <ion-label floating> Otro Complemento </ion-label>
          <ion-input formControlName="otro_complemento" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label class="titulo"> Parte G. Convenios </ion-label>
      </ion-item>
      <ion-list radio-group formControlName="convenios_si">
        <ion-item>
            <ion-label>
                ¿Tiene convenios con otros establecimientos?
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio value="si"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-item *ngIf="alimentacion.value.convenios_si === 'si'">
           <ion-label floating> ¿Con qué tipo de establecimientos tiene convenios?</ion-label>
          <ion-select formControlName="tipo_establecimiento_convenio" placeholder="Seleccionar">
               <ion-label> Tipo de establecimientos </ion-label>
               <ion-option value="agencia">Agencia de viajes y turismo AVIATUR</ion-option>
               <ion-option value="falta">Aviatur Villanueva</ion-option>
           </ion-select>
      </ion-item>
      <ion-row>
        <ion-item text-center>
          <button ion-button type="button" color="dark" (click)="offlineForm()">Guardar</button>
          <button ion-button type="submit" [disabled]="!alimentacion.valid">Enviar</button>
        </ion-item>
      </ion-row>
  </form>
</ion-content>


