<!--
  Generated template for the AlimentacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div #container class="scroll">
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Encuesta Alimentación</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="alimentacion" (ngSubmit)="save($event)">

        <ion-item>
                <ion-label>
                    Fecha elaboración de la encuesta:
                </ion-label>
            </ion-item>
              <ion-item>
              <ion-icon name="calendar" item-start></ion-icon>
              <ion-input name="dateStart" formControlName="dateStart" type="text" placeholder="Fecha elaboración de la encuenta" disabled class="no_border"></ion-input>
            </ion-item> 
            <ion-item>
              <ion-label>
                Encuestador:
              </ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="person" item-start></ion-icon>
                <ion-input type="text" placeholder="Nombre" disabled class="no_border" name="A0" formControlName="nombre"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="titulo"> Parte A. Datos del establecimiento </ion-label>
            </ion-item>
            <ion-item>
              <ion-label floating>Nombre del establecimiento: </ion-label>
              <ion-input formControlName="name" class="requiredInput"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked class="titulo"> Año de fundación </ion-label>
                <ion-datetime formControlName="date_year"  displayFormat="YYYY" required></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label stacked class="titulo">Especialidad principal del establecimiento. </ion-label>
                <ion-select formControlName="foot_category" placeholder="Seleccionar" (ionChange)="validar()" required>
                    <ion-option value="728">China </ion-option>
                    <ion-option value="732">Comida rápida </ion-option>
                    <ion-option value="735">Española</ion-option>
                    <ion-option value="730">India (Hindú) </ion-option>
                    <ion-option value="729">Italiana </ion-option>
                    <ion-option value="733">Mexicana </ion-option>
                    <ion-option value="731">Peruana </ion-option>
                    <ion-option value="726">Pescados y Mariscos </ion-option>
                    <ion-option value="727">Pollo</ion-option>
                    <ion-option value="725">Típica Colombiana </ion-option>
                    <ion-option value="724">Típica Norte Santandereana</ion-option>
                    <ion-option value="734">Vegetariana</ion-option>
                    <ion-option value="40">Otro</ion-option>
                    
                </ion-select>
            </ion-item>
            <ion-item *ngIf="alimentacion.value.foot_category== 40">
              <ion-label floating>Otra, ¿Cual? </ion-label>
              <ion-input formControlName="foot_category_other" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked class="titulo"> Municipio </ion-label>
                <ion-select formControlName="municipality_id" placeholder="Seleccionar" >
                    <ion-option value="781">ÁBREGO</ion-option>
                    <ion-option value="782">ARBOLEDAS</ion-option>
                    <ion-option value="783">BOCHALEMA</ion-option>
                    <ion-option value="784">BUCARASICA</ion-option>
                    <ion-option value="786">CÁCHIRA</ion-option>
                    <ion-option value="785">CÁCOTA</ion-option>
                    <ion-option value="787">CHINÁCOTA</ion-option>
                    <ion-option value="788">CHITAGÁ</ion-option>
                    <ion-option value="789">CONVENCIÓN</ion-option>
                    <ion-option value="780">CÚCUTA</ion-option>
                    <ion-option value="790">CUCUTILLA</ion-option>
                    <ion-option value="791">DURANIA</ion-option>
                    <ion-option value="792">EL CARMEN</ion-option>
                    <ion-option value="793">EL TARRA</ion-option>
                    <ion-option value="794">EL ZULIA</ion-option>
                    <ion-option value="795">GRAMALOTE</ion-option>
                    <ion-option value="796">HACARÍ</ion-option>
                    <ion-option value="797">HERRÁN</ion-option>
                    <ion-option value="799">LA ESPERANZA</ion-option>
                    <ion-option value="800">LA PLAYA</ion-option>
                    <ion-option value="798">LABATECA</ion-option>
                    <ion-option value="801">LOS PATIOS</ion-option>
                    <ion-option value="802">LOURDES</ion-option>
                    <ion-option value="803">MUTISCUA</ion-option>
                    <ion-option value="804">OCAÑA</ion-option>
                    <ion-option value="805">PAMPLONA</ion-option>
                    <ion-option value="806">PAMPLONITA</ion-option>
                    <ion-option value="807">PUERTO SANTANDER</ion-option>
                    <ion-option value="808">RAGONVALIA</ion-option>
                    <ion-option value="809">SALAZAR</ion-option>
                    <ion-option value="810">SAN CALIXTO</ion-option>
                    <ion-option value="811">SAN CAYETANO</ion-option>
                    <ion-option value="812">SANTIAGO</ion-option>
                    <ion-option value="813">SARDINATA</ion-option>
                    <ion-option value="814">SILOS</ion-option>
                    <ion-option value="815">TEORAMA</ion-option>
                    <ion-option value="816">TIBÚ</ion-option>
                    <ion-option value="817">TOLEDO</ion-option>
                    <ion-option value="818">VILLA CARO</ion-option>
                    <ion-option value="819">VILLA DEL ROSARIO</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>Dirección </ion-label>
                <ion-input formControlName="address"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Nombre del contacto </ion-label>
                <ion-input formControlName="contact"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked class="titulo"> Cargo</ion-label>
                <ion-select formControlName="position_id"  placeholder="Seleccionar" >
                    <ion-option value="9253">Abogado</ion-option>
                    <ion-option value="3413">Agente de viajes</ion-option>
                    <ion-option value="7211">Albañiles, mamposteros y afines</ion-option>
                    <ion-option value="9221">Aseador</ion-option>
                    <ion-option value="3431">Asistente de servicios administrativos </ion-option>
                    <ion-option value="3475">Atletas, deportistas y afines</ion-option>
                    <ion-option value="4123">Auxiliar administrativo </ion-option>
                    <ion-option value="4121">Auxiliar de contabilidad </ion-option>
                    <ion-option value="4211">Cajero</ion-option>
                    <ion-option value="5125">Camarera(o)</ion-option>
                    <ion-option value="5124">Capitán de meseros-Hostess</ion-option>
                    <ion-option value="5123">Chef</ion-option>
                    <ion-option value="5121">Cocinero</ion-option>
                    <ion-option value="8321">Conductores de camionetas y vehículos livianos</ion-option>
                    <ion-option value="2411">Contador</ion-option>
                    <ion-option value="1412">Coordinador de ventas y/o comercialización</ion-option>
                    <ion-option value="1414">Coordinadores y supervisores de almacenamiento, abastecimiento y distribución</ion-option>
                    <ion-option value="1411">Coordinadores y supervisores financieros y administrativos</ion-option>
                    <ion-option value="1315">Director de operación</ion-option>
                    <ion-option value="1322">Director de talento humano </ion-option>
                    <ion-option value="1323">Director de ventas y/o comercialización</ion-option>
                    <ion-option value="1321">Director financiero y/o administrativo</ion-option>
                    <ion-option value="1211">Director o Gerente general</ion-option>
                    <ion-option value="1212">Director regional, sucursal, oficina</ion-option>
                    <ion-option value="9254">Diseñador y Publicista</ion-option>
                    <ion-option value="4132">Encargados de servicios de apoyo a la producción</ion-option>
                    <ion-option value="4131">Encargados del control de abastecimiento e inventario</ion-option>
                    <ion-option value="3131">Fotógrafos y operadores de equipos de grabación de imagen y sonido</ion-option>
                    <ion-option value="5113">Guía</ion-option>
                    <ion-option value="9222">Lavanderos y planchadores</ion-option>
                    <ion-option value="9255">Medicos y afines</ion-option>
                    <ion-option value="9131">Mensajeros, porteadores y repartidores</ion-option>
                    <ion-option value="5122">Mesero-Barman </ion-option>
                    <ion-option value="9132">Porteros, conserjes y afines</ion-option>
                    <ion-option value="4222">Recepcionista, empleado de información y servicio al cliente</ion-option>
                    <ion-option value="3414">Representante comercial- técnico de ventas</ion-option>
                    <ion-option value="9256">Revisor Fiscal</ion-option>
                    <ion-option value="4113">Secretaria(o)</ion-option>
                    <ion-option value="1426">Supervisor de operaciones</ion-option>
                    <ion-option value="1428">Supervisor de operaciones de limpieza y servicios similares</ion-option>
                    <ion-option value="3122">Técnico en programación informática</ion-option>
                    <ion-option value="9133">Vigilantes y celadores</ion-option>
                    <ion-option value="40">Otro</ion-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="alimentacion.value.position_id== 40">
                <ion-label floating>Que Cargo </ion-label>
                <ion-input formControlName="other_position" ></ion-input>
            </ion-item>
            <ion-item >
                <ion-label class="titulo" stacked>Telefono</ion-label>
                <ion-input formControlName="phone_number" class="requiredInput" type="number"  placeholder="" (keyup)="telefono(7)"></ion-input>
            </ion-item>
            <ion-label *ngIf="telefonovalida"  class="titulo1"> El numero debe contener 7 caracteres</ion-label>
            
            <ion-item >
                <ion-label class="titulo" stacked>Ext.</ion-label>
                <ion-input  formControlName="phone_ext"   type="number" max="5" placeholder=""></ion-input>
            </ion-item>
            <ion-item >
                <ion-label class="titulo" stacked>Celular</ion-label>
                <ion-input formControlName="cell_phone"  type="number" max="5" placeholder="" (keyup)="celular(10)"></ion-input>
            </ion-item>
            <ion-label *ngIf="telefonovalida1"  class="titulo1"> El numero debe contener 10 caracteres</ion-label>
            <ion-item >
                <ion-label class="titulo" stacked>E-mail</ion-label>
                <ion-input formControlName="email" class="requiredInput" type="email"  placeholder="" ngModel email="true"></ion-input>
            </ion-item> 
            <ion-item>
                <ion-label class="titulo"> Parte B. Actividad comercial </ion-label>
            </ion-item>
            <ion-item>
               <ion-note item-start>
                    Las preguntas que a continuación le voy a formular están relacionadas con la actividad del servicio y la capacidad de atención durante el mes anterior.
               </ion-note>
            </ion-item>
            
              

            <ion-item>
                <ion-label stacked class="titulo">En el mes anterior el establecimiento estuvo en actividad comercial?</ion-label>
                <ion-select formControlName="comercial_activity" placeholder="Seleccionar"  required>
                    
                    <ion-option value="si">Si</ion-option>
                    <ion-option value="no">No</ion-option>
                </ion-select>
            </ion-item>

              <ion-item *ngIf="alimentacion.value.comercial_activity !== ''">
                   <ion-label floating> ¿Cuántos días en el mes? </ion-label>
                  <ion-input formControlName="count_comercial_activity" type="text" (keyup)="dias(30)"></ion-input>
              </ion-item>
              <ion-label *ngIf="diasvalida"  class="titulo1"> El numero de días no debe ser mayor a 30</ion-label>
           
            

            
            <ion-item>
                <ion-label class="titulo"> Parte C. Capacidad del establecimiento </ion-label>
            </ion-item>

            <ion-item>
               <ion-note item-start>
                    Las preguntas que a continuación le voy a formular están relacionadas con la actividad del servicio y la capacidad de atención durante el mes anterior.
               </ion-note>
            </ion-item>
            <ion-list >
             
              <ion-item>
                <ion-label stacked class="titulo"> ¿En el restaurante se sirven principalmente platos de comida o unidades de comida? </ion-label>
                <ion-select formControlName="food_service" placeholder="Seleccionar" required>
                    <ion-option value="31">Platos de comida</ion-option>
                    <ion-option value="32">Unidades de comida</ion-option>
                </ion-select>
            </ion-item>
            </ion-list>
            <div *ngIf="alimentacion.value.comercial_activity == 'si'">
                <ion-item *ngIf="alimentacion.value.food_service !== ''">
                   <ion-label floating> Número de mesas disponibles: </ion-label>
                   <ion-input type="number" formControlName="mesas_disponibles"></ion-input>
                </ion-item>
                <ion-item *ngIf="alimentacion.value.food_service !== ''">
                   <ion-label floating> Número de asientos disponibles: </ion-label>
                   <ion-input type="number" formControlName="seating_number"></ion-input>
                </ion-item>
                <ion-item *ngIf="alimentacion.value.food_service == '31'">
                     <ion-label floating> ¿Cuántos platos de comida máximo se hubieran podido servir en promedio diariamente con el personal con el que contó en el mes anterior? </ion-label>
                    <ion-input formControlName="food_units_prom" type="text"></ion-input>
                </ion-item>
                <ion-item *ngIf="alimentacion.value.food_service == '32'">
                     <ion-label floating> ¿Cuántas unidades de comida máximo se hubieran podido servir en promedio diariamente con el personal con el que contó en el mes anterior </ion-label>
                    <ion-input formControlName="food_units_prom" type="text"></ion-input>
                </ion-item>
                <ion-item *ngIf="alimentacion.value.food_service == '31'">
                    <ion-label floating> ¿Cuántas unidades de comida se sirvieron efectivamente en el mes anterior </ion-label>
                    <ion-input formControlName="food_dishes_all" type="text"></ion-input>
                </ion-item>
                <ion-item *ngIf="alimentacion.value.food_service == '31'">
                    <ion-label floating> ¿Cuánto vale el plato de comida que más se vendió en el mes anterior? </ion-label>
                    <ion-input formControlName="dish_cost" type="text"></ion-input>
                </ion-item>
                <ion-item *ngIf="alimentacion.value.food_service == '32'">
                    <ion-label floating> ¿Cuántos platos de comida se sirvieron efectivamente en el mes anterior </ion-label>
                    <ion-input formControlName="food_dishes_all" type="text"></ion-input>
                </ion-item>
                <ion-item *ngIf="alimentacion.value.food_service == '32'">
                    <ion-label floating> ¿Cuánto vale el plato de comida que más se vendió en el mes anterior? </ion-label>
                    <ion-input formControlName="dish_cost" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label class="titulo"> Parte D. Atención a visitantes no residentes en {{mainNameApp}} </ion-label>
                </ion-item>
                <ion-item>
                   <ion-note item-start>
                      La siguiente pregunta va permitir realizar una aproximación al número de clientes que son visitantes no residentes en Norte de Santander que son atendidos en los establecimientos comerciales.
                   </ion-note>
                </ion-item>
                <ion-item>
                    <ion-label floating> ¿Qué porcentaje de sus clientes del mes anterior considera son de otras regiones fuera de {{mainNameApp}}? </ion-label>
                    <ion-input formControlName="percentage_customers" type="number" (keyup)="dias1(100)"></ion-input>
                </ion-item>
                <ion-label *ngIf="diasvalida1"  class="titulo1"> El numero de días no debe ser mayor a 100</ion-label>
                
                

            </div>

    <ion-row>
        <ion-item class="botones">
                     
          <button class="botones" ion-button color="primary" [disabled]="alimentacion.value.date_year == null || alimentacion.value.foot_category == null || alimentacion.value.municipality_id == null || alimentacion.value.position_id == null || alimentacion.value.comercial_activity == null || alimentacion.value.food_service == null || alimentacion.value.address == null" >Guardar</button>
        </ion-item>
      </ion-row>
  </form>
</ion-content>
</div>

